<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1; user-scalable=0;"/>
    <title>AGDM 2000</title>
		<script src="../appgyver/appgyver.js"></script>
    
    <!-- to prevent webkit from caching css & javascript files -->
    <!-- include array of your css & javascript files here: -->
    <script>
      CSS_FILES = ["stylesheets/basic.css"];
      JS_FILES = ["javascripts/application.js"];
    </script>
    <script src="../shared/javascripts/cache_buster.js"></script>

  </head>
  
  <body>

    <div class="drumpad_container">
      <div data-sound="kick.wav">KICK</div>
      <div data-sound="snare.wav">SNARE</div>
      <div data-sound="hihat.wav">HI-HAT</div>
      <div data-sound="clap.wav">CLAP</div>
      <div data-sound="perc.wav">PERC 1</div>
      <div data-sound="perc2.wav">PERC 2</div>
    </div>
    
  </body>
  
</html>