<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script src="../appgyver/appgyver.js"></script>
    
    <!-- to prevent webkit from caching css & javascript files -->
    <!-- include array of your css & javascript files here: -->
    <script>
      CSS_FILES = ["stylesheets/basic.css"];
      JS_FILES = ["javascripts/application.js"];
    </script>
    <script src="../shared/javascripts/cache_buster.js"></script>
  </head>
  
  <body>
    <h1>AGDM-2000</h1>
    
    <div data-sound="kick.wav">KICK</div>
    <div data-sound="snare.wav">SNARE</div>
    <div data-sound="hihat.wav">HI-HAT</div>
    <div data-sound="clap.wav">CLAP</div>
  	<div data-sound="perc.wav">PERCUSSION</div>
  	<div data-sound="electro_kick.wav">ELECTRO KICK</div>
  </body>
  
</html>